{% extends "base.html" %}
{% block content %}
<h1>Prodotti in Scadenza</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantità</th>
            <th>Data di Scadenza</th>
            <th>Lotto</th>
        </tr>
    </thead>
    <tbody>
        {% for prodotto in prodotti %}
        <tr>
            <td>{{ prodotto.nome }}</td>
            <td>{{ prodotto.quantita }}</td>
            <td>{{ prodotto.scadenza }}</td>
            <td>{{ prodotto.lotto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
